<div class="dialog-content">
    {{{content}}}
</div>
<div class="dialog-select">
	{{#each selection as |select id|}}
		<select class="{{select.name}}">
			{{#each select.options as |option iid|}}
				<option value="{{option.value}}">{{option.name}}</option>
			{{/each}}
		</select>
	{{/each}}
</div>
<div class="dialog-buttons">
    {{#each buttons as |button id|}}
    <button class="dialog-button" data-button="{{id}}">
        {{{button.icon}}}
        {{{button.label}}}
    </button>
    {{/each}}
</div>
